<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IUserDetailService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8090/UserDetailService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IUserDetailService"
                contract="UserDetailsWcfService.IUserDetailService" name="NetTcpBinding_IUserDetailService">
                <identity>
                    <userPrincipalName value="user111" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    </assemblyBinding>
  </runtime>
</configuration>